node_modules
# Keep environment variables out of version control
.env
.env.docker
dist
.github
docs
/src
!packages/shared/src
!packages/shared/src/**
.env
# Prisma
/services/**/prisma/migrations/*
!services/**/prisma/migrations/README.md

/services/**/node_modules
/services/**/dist
/packages/**/node_modules
/packages/**/dist
# Planning files
PLAN-*.md

# Source repo (temp)
repo-chat-test-be-master/
