# Server Config
PORT=3000
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:3002

# JWT
JWT_SECRET=your_jwt_secret_here

# Redis
REDIS_URL=redis://localhost:6379

# NATS
NATS_URL=nats://localhost:4222

# Service URLs
IDENTITY_SERVICE_URL=http://localhost:3010
FILE_SERVICE_URL=http://localhost:3014
NOTIFICATION_SERVICE_URL=http://localhost:3019
MESSAGING_SERVICE_URL=http://localhost:3020

# gRPC
MESSAGING_GRPC_HOST=localhost
MESSAGING_GRPC_PORT=50052
